<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OSUplayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OSU_player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <OSUplayer.Properties.Settings>
            <setting name="QQuin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NextMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PlayFx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncQQ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Allvolume" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Musicvolume" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Fxvolume" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPopup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OSUpath" serializeAs="String">
                <value />
            </setting>
        </OSUplayer.Properties.Settings>
        <OSU_player.Properties.Settings>
            <setting name="QQuin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NextMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PlayFx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncQQ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Allvolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Musicvolume" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="Fxvolume" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </OSU_player.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
